.THIS.form_notes-mockup .slds-modal__header {
    border-bottom: 1px solid #493266;
}
.THIS.form_notes-mockup .slds-modal__header h1 {
    color: #fff;
    background-color: #493266;
    display: inline-block;
    padding: 3px 25px 7px;
}
.THIS.form_notes-mockup .slds-form-element__label {
    padding-right: 0;
}
.THIS .underline {
    border: none;
    border-bottom: 1px solid #493266;
}
.THIS .label-head {
    color: #fff;
    background-color: #493266;
    padding: 3px 25px 6px !important;
    margin-bottom: 5px;
}
.THIS .parentMockup {
    width:70% !important;
    max-width:70% !important;
}
.THIS .g-notes .slds-textarea.slds-form-element {
    height: 70px;
    padding: 0;
    border: none;
}
.THIS .g-notes .slds-input {
    height: 70px;
}
.THIS .g-notes label.slds-form-element__label.slds-no-flex {
    display: none;
}