.THIS .listoverride li{
    width :100%
}
.THIS .slds-modal__header {
    position: relative;
    z-index: 0;
}
.THIS .clsLabel .slds-size_3-of-12 .slds-form-element__label{
    display	:	unset !important;
}
.THIS .customRadioCls .slds-form-element__control {
    display: inline-block;
    padding-top: 5px;
    padding-left: 35px;
}
.THIS span.slds-radio {
    display: inline-block;
    width: 114px;
    float: left;
}
.THIS .clsLabelfirst{
    padding-top: 0px;
    padding-bottom: 0;
    
}
.THIS .slds-combobox_container{
    display: unset 
}
.THIS.sectioncss{
    background : rgba(0, 0, 0 , 0.7);
}
.THIS .custom-box .slds-accordion__summary-heading {
    padding: 10px;
}
.THIS .custom-box .slds-accordion__summary-heading .slds-button {
    text-decoration: none;
    font-size: 18px; 
    
}
.THIS .custom-box .slds-input {
    background-color: #f1f1f3;
    height: 30px;
    padding : 10px;
    border-radius: 0;
}
.THIS .custom-box .slds-checkbox_faux {
    background-color: #f1f2f3;
    height: 30px;
    width: 30px;
}
.THIS .custom-box .slds-checkbox_faux:after {
    height: 20px;
    width: 20px;
    left: 5px;
    top: 5px;
}
.THIS .custom-box .slds-input[disabled]{
    background-color : rgb(201, 199, 197);
}
.THIS .custom-box .slds-select {
    background-color: #f1f1f3;
    height: 32px;
    border-radius: 0;
}
.THIS .custom-box .slds-select[disabled]{
    background-color : rgb(201, 199, 197);
}
.THIS .custom-box{
    padding	: 10px
}

.THIS .headercls{
    background-color : rgb(243, 242, 242);
    
}
.THIS .footercls{
    background-color : rgb(243, 242, 242);
}
.THIS .slds-accordion__summary{
    margin: 0 0px;
}
.THIS footer label.slds-form-element__label {
    display: none;
}
.THIS .starttime-cls{
    padding-left : 19px;
}
.THIS .btn-cls{
    border-radius:25px;
    min-width:100px;
    font-size: 14px;
}
.THIS .starttime-cls .slds-form-element__label{
    display: block !important;
}
@media (max-width: 576px) {
    .THIS .mobile_grid {
        display:block;
    }
    .THIS .mobile_grid .slds-size_4-of-12, .THIS .mobile_grid .slds-size_8-of-12, 
    .THIS .mobile_grid .slds-size_3-of-12 {
        width: 100%;
    }
    .THIS .mobile_grid span.slds-radio:first-child {
        width: 63px;
    }
    .THIS .mobile_grid span.slds-radio:nth-child(2) {
        width: 70px;
    }
}