/*.requestupdate{
    text-align: right;
    padding-inline-start: 913px;
}

/*.requestupdate .slds-button {
    background-color: #493266;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 15px;
    float: right;
}*/