.THIS .verticalAlign {
cursor: pointer;
margin: 6px 0px 0px 6px!important;
}
.THIS .payCss .slds-form-element__control.slds-grow {
  /*  padding-left: 15%;   */
}
.THIS .fullWidth {
width: 100% !important;
        height: 30px;
    border: 1px solid #ccc;
}
.THIS .slds-pill-container {
   width: 100%;
}
.THIS .onDrop{
    
    width: 100%;
}
.THIS .recordListBox {
margin-top:0px !important;
overflow-y: scroll;
}

.THIS .eachItem:hover {
    background-color: #EEE;
    cursor: pointer;
}
.THIS .inputIcon {
z-index:2/* 99*/;
    padding: 2px 0;
}
 
/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
.THIS .slds-p-left_xx-small h3 {
    font-weight: 600;
    color: #493266;
    font-size: 14px;
}
.THIS .slds-p-left_xx-small b {
    color: #000;
    font-size: 12px;
}
.THIS .s_icon .slds-form-element__control.slds-grow.slds-input-has-icon.slds-input-has-icon_left-right {
    position: relative;
}
.THIS .s_icon .slds-input-has-icon .slds-input__icon {
    left: unset;
    right: 10px;
    top: 16px;
}
.THIS .s_icon .slds-input {
    padding-left: 10px;
}