.THIS button.btncss{
    padding: 6px 15px;
    line-height: 18px;
    background-color: #f3f2f2;
    border: none;
    
}
.THIS.accordian_header {
    float:left;
    width: 100%;
}
.THIS.accordian_header:last-child:after {
    display: none;
} 
.THIS.accordian_header .slds-page-header {
    width: calc(100% - 50px);
    float: right;
    padding-bottom: 0;
}
.THIS.accordian_header .chevron_btn {
    width: 25px;
    height: 25px;
    border: none;
    text-align: right;
    background-color: transparent;
    color: #706e6b;
    float: left;
}
.THIS.accordian_header .chevron_btn:focus {
    box-shadow: none;
}
.THIS.accordian_header .chevron_btn .slds-button__icon {
    height: 22px;
    width: 22px;
}
.THIS.accordian_header .slds-icon-utility-puzzle.slds-icon_container .slds-icon {
    background-color: #c2403b;
    fill: #fff;
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.THIS.accordian_header h3 {
    font-size: 18px;
    color: #c2403b;
    line-height: 15px;
    margin-bottom: 7px;
    padding-right: 57px;
}
.THIS.accordian_header h3 p {
    color: #c2403b;
}
.THIS.accordian_header p {
    font-size: 12px;
    color: #333;
}
.THIS .right-side_bar button.btncss {
    font-size: 12px;
    color: #333;
    min-height: 14px;
    height: 14px;
    line-height: 0px;
    padding: 0;
    margin-bottom: 0;
}
.THIS .right-side_bar button.btncss:focus {
    box-shadow: none;
    border: none;
}
.THIS .right-side_bar .slds-form-element__label {
    display: none;
}
.THIS .right-side_bar .slds-input {
    width: 110px;
    text-align: right;
    padding: 0 12px 0 0;
    min-height: 14px;
    height: 14px;
    font-size: 12px;
    border: none;
    box-shadow: none;
    background: transparent;
    margin-right: 15px;
}
.THIS .right-side_bar .slds-input__icon.slds-input__icon_right {
    left: 0px;
    top: 4px;
    fill:#ccc;
}
.THIS .right-side_bar svg.slds-button__icon.slds-button__icon_left {
    fill: #666;
}
.THIS .accordian_open {
    background-color: #f1f2f3;
    width: calc(100% - 50px);
    float: right;
    padding-right: 24px;
}
.THIS .accordian_open .btncss {
    border: 1px solid #4bc076;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    transition: all 500ms;
    background-color: #4bc076;
    margin-bottom: 4px;
    margin-right: 30px;
}
.THIS .accordian_open .right-side_bar1 .btncss {
    margin-right: 0;
}
.THIS .accordian_open .btncss:hover {
    color: #4bc076;
    background-color: #fff;
}
.THIS .accordian_open .slds-button__icon {
    width: 20px;
    height: 20px;
}
.THIS .accordian_open .slds-page-header {
    background-color: #f8fcf9;
    margin: 0;
	padding-right: 45px;
}
.THIS .accordian_open .right-side_bar1 .slds-button__icon {
    height: 15px;
    width: 15px;
}
.THIS.accordian_header .accordian_open .slds-icon-utility-puzzle.slds-icon_container .slds-icon {
    background-color: #4bc076;
}
.THIS.accordian_header .accordian_open h3 {
    color: #4bc076;
    padding-right: 0
}
.THIS .first-inner-dl {
    height: 20px;
    width: 2px;
    float: left;
    margin-left: 75px;
    background-color: #4bc076;
}
.THIS.accordian_header .first-inner-dl:last-child {
    display: none;
}
/*.THIS.accordian_header:last-child .down-line {
    display: none;
}*/
.THIS.slds-show {
    transition: all 1000ms;
}
.THIS.slds-hide {
    transition: all 500ms;
}
.THIS.accordian_header .right-side_bar1 p {
    color: #4bc076;
}
.THIS .third_accordian .right-side_bar1 p {
    color: #48c3cc!important;
}
.THIS .arrangeDiagnosis {
    background-color: #7030a0;
    color: #fff;
    border-radius: 24px;
    padding: 5px 20px;
    display: inline-block;
    margin: 15px 12px 15px 30px;
}
.THIS .c-point {
    cursor: pointer;
}
@media (max-width: 992px) {
    .THIS .slds-grid.slds-gutters.ElixirSuiteElixir_AddNotesProblems {
        display: block;
    }
    .THIS .slds-grid.slds-gutters.ElixirSuiteElixir_AddNotesProblems .slds-size_2-of-12 {
        width: 100%;
    }
    .THIS .slds-show.accordian_header.ElixirSuiteElixir_CarePlanViewLevel3 {
        display: block;
    }
    .THIS .slds-show.accordian_header.ElixirSuiteElixir_CarePlanViewLevel3 .slds-size_2-of-12 {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .THIS .slds-grid.slds-gutters.ElixirSuiteElixir_AddNotesProblems {
        display: block;
    }
    .THIS .slds-grid.slds-gutters.ElixirSuiteElixir_AddNotesProblems .slds-size_2-of-12 {
        width: 100%;
    }
    .THIS .slds-show.accordian_header.ElixirSuiteElixir_CarePlanViewLevel3 {
        display: block;
    }
    .THIS .slds-show.accordian_header.ElixirSuiteElixir_CarePlanViewLevel3 .slds-size_2-of-12 {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .THIS .slds-grid.slds-gutters.ElixirSuiteElixir_AddNotesProblems {
        display: block;
    }
    .THIS .slds-grid.slds-gutters.ElixirSuiteElixir_AddNotesProblems .slds-size_2-of-12 {
        width: 100%;
    }
    .THIS .arrangeDiagnosis {
        margin: 0px 12px 15px 30px;
    }
    .THIS .slds-show.accordian_header.ElixirSuiteElixir_CarePlanViewLevel3 {
        display: block;
    }
    .THIS .slds-show.accordian_header.ElixirSuiteElixir_CarePlanViewLevel3 .slds-size_2-of-12 {
        width: 100%;
    }
}
.THIS .chnagepadding{
    margin-left:60px;paading: 10px;
}