.THIS .heading_1{
    font-size: 24px; font-weight: 600;text-align:center;
}
.THIS .width_1{
    width: 100%;
}
.THIS .width_2{
    font-size: 20px;font-weight: 500;padding-top: 20px;
}
.THIS .width_3{
    color:red;
}
.THIS .heading_1{
    font-size: 24px; font-weight: 600;text-align:center;
}
.THIS .heading_1{
    font-size: 24px; font-weight: 600;text-align:center;
}
.THIS .heading_1{
    font-size: 24px; font-weight: 600;text-align:center;
}