.THIS .table-body-row label{
    display: none;
}
.THIS .width200{
    width: 300px;
    vertical-align: top;
}
.THIS .instruction_head {
  background-color: #493266;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 8px;
   
}
.THIS .jk .slds-form-element__label {
    display: inline-block;
    margin-left: 5px;
    margin-right: 22px;
}
.THIS .colPayHeader1 {
   color: white;
   background-color: #493266;
}
.THIS .slds-modal__container {
    max-width: 85%!important;
    width: 80%!important;
}
.THIS .colPayHeader {
   color: white;
   background-color: #493266;
    padding: 12px;
}
.THIS .tier-one td {
    background-color: #FBE3D7 !important;
}
.THIS .tier-one:hover td{
    background-color: #FBE3D7 !important; 
}
.THIS .tier-two td {
    background-color: #FDF7C3 !important;
}
.THIS .tier-two:hover td{
    background-color: #FDF7C3 !important;
    
}
.THIS .inputclass .slds-grow{
    margin-right: 26px;
}
.THIS .afterJJ span{
    height: 15px;
    width: 15px;
    float: left;
    border: 1px solid; 
    display: inline-block;
    margin: 3px 10px 0 0;
}
.THIS .con{
    width : 100% !important ;
    max-width:100% !important;
}
.THIS .level{
    max-width : 100% !important;
    width : 95% !important ;
    max-height : 100% !important ;
    height :100% !important ;
}
.THIS .jk .slds-radio label.slds-radio__label {
    display: inline-block;
}
.THIS .jk.slds-form-element {
    float: left;
}
.THIS .search_vital {
    right: 12%;
}
.THIS .pos{
    float:right ;
}
.THIS .parentJJ {
    width: 125px;
    align-items: right;
    text-align: left;
    line-height: 23px;
    font-size: 11px;
    float: right;
}
.THIS .jj{
    float: right;
    margin-top: 0px ;
    margin-right: 8px;
}
.THIS .taperSave{
    float: right;
    margin-top: 79px ;
    margin-right: 8px;
    background-color: #d3ead3 !important;
}
.THIS .PRNSave{
    float: right;
    margin-top: 79px ;
    margin-right: 8px;
    
}
.THIS .table-body-row th{
    background: #a8c6d0;
    text-transform: uppercase;
}

.THIS .btn-icon-inactive{
    background-color: lightgrey;
}

.THIS .btn-icon-inactive button{
    color: darkgrey;
}
.THIS.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.THIS .btn-icon-unsaved{
    background-color: orange;
}
.THIS .con_tent{
    margin-top: 23px;
    box-shadow: 0px 0px 1px 0px #ccc;
}

.THIS .sample-heading{
    color : black;
    font-size: 17px;
    font-weight: 600;
}

.THIS .background-class{
    background:white;	
}

.THIS .invertButton{
    transform: rotate(180deg);
}

.THIS .helpText{
    width: .75rem;
    height: 0.60rem;
}

.THIS .slds-modal {
    background-color: rgba(0, 0, 0, 0.6);
}

.THIS .slds-form-element__icon{
    
}
.THIS .medication_tab .slds-tabs_default__nav {
    padding: 0 0 10px 0;
    border-width: 0 0 0 0;
    border-style: none;
    border: 0;
    z-index: 1;/* 9;*/
    background-color:#fff;
    width: calc(100% - 45px);
    
}
.THIS .abc {
    width: 100%;
    padding-bottom: 15px;
}
.THIS .slds-input[readonly]:focus {
    border: 1px solid transparent;
    box-shadow: none;
}
.THIS .pateint_info .slds-form-element__help {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
}
.THIS .slds-has-error .slds-input {
    border: none;
    box-shadow: none;
}
.THIS .footercls .slds-form-element__help {
    text-align: initial;
}
.THIS .datetime_class legend{
    
}
.THIS .datetime_class .slds-form-element__row .slds-form-element label{
    display :none;
}
.THIS .slds-form-element__control.slds-input-has-icon.slds-input-has-icon_right{
    position:relative;
}
.THIS .datetime_class .slds-form-element__group{
    width: 70%;
    margin-left: 100px;
}
.THIS .datetime_class lightning-datetimepicker button{
    min-width: 20px !important;
}
.THIS .widthForAll {
    width: 90%;
    margin-left: 5%;
}
.THIS .widthForAll button.slds-button.slds-section__title-action {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #493266;
    color: #fff;
    font-weight: 600;
}
.THIS .widthForAll button.slds-button.slds-section__title-action .slds-icon {
    fill: #fff;
}
.THIS .slds-section {
    background-color: #f3f2f2;
    box-shadow: 0px 0px 5px 0px #ccc;
    margin-bottom: 20px;
}
.THIS .slds-section .slds-section__title {
    border: none;
}
.THIS .member_plan {
    border: 1px solid #ddd;
    width: calc(100% - 20px);
    margin: 5px 10px 12px;
    box-shadow: 0px 0px 4px 0px #ddd;
}
.THIS .abc .member_plan:last-child {
    margin-bottom: 0;
}
.THIS .member_plan h4 {
    background-color: #ddd;
    font-weight: 600;
    padding: 5px 10px;
}
.THIS .widthForAll .slds-input[disabled] {
    background-color: #fff9ff;
}
.THIS .widthForAll .slds-grid .slds-size_6-of-12 {
    margin-top: 7px;
}
.THIS .widthForAll .slds-grid:first-child .slds-size_6-of-12 {
    margin-top: 0;
}
.THIS .widthForAll .slds-grid:first-child .slds-size_6-of-12 .slds-form-element {
    margin-top: 7px;
}
.THIS .widthForAll .slds-grid:first-child .slds-size_6-of-12 .slds-form-element:first-child {
   /* margin-top: 0px;*/
}
.THIS header.slds-modal__header .slds-button {
    right: 0px;
}
.THIS.slds-spinner_container {  
    z-index: 2; 
}
.THIS .buttonRound .slds-button {
    border-radius:25px;
    min-width:100px;
    font-size: 14px;
    
}
.THIS .myTable {
            margin-left: auto;
            margin-right: auto;
            font-size: 20px;
            height: 100%;
            table-layout: fixed;
}

.THIS .uiOutputRichText p span {
    font-size: 12px !important;
    color: rgb(60, 62, 62) !important;
    padding: 5px 0 0 0;
    display: block;
}
.THIS .slds-rich-text-editor__toolbar.slds-shrink-none {
    display: none;
}
.THIS .ql-editor.slds-rich-text-area__content.slds-text-color_weak.slds-grow {
    padding: 5px 10px;
    max-height: 30px;
    min-height: 32px;
    background-color: #FFF9FE;
}
.THIS .forProblems h3 {
    background-color: #bbb;
    padding: 5px;
    text-align: center;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}
.THIS .datetime_class .slds-form-element__group{
    width: 70%;
    margin-left: 100px;
}
.THIS .datetime_class legend{
}
.THIS .datetime_class .slds-form-element__row .slds-form-element label{
    display :none;
}
.THIS .diaglogBoxCSS{
    max-width: 50% !important; width:40% !important;margin-left:500px;margin-top:300px;border:grey; border-width:2px; border-style:solid;
}
.THIS .footerCSS{
    text-align: center;
}
.THIS .childCSS{
    background-color: rgba(0,0,0,0.5);
}
.THIS .parentCSS{
    height:auto;
}

.THIS .headerCSS{
    font-size: x-large;
}
.THIS .spinnerCSS{
    padding:20px 40px 20px 40px;display:block;
}
@media (max-width: 1100px) {
    .THIS .footer_mobile-grid {
        display: flex;
    }
    .THIS .slds-modal__footer .slds-button+.slds-button {
        margin-left: 0;
        margin-top: 10px;
    }
    .THIS .footer_mobile-grid .datetime_class .slds-grid {
        display: block;
    }
    .THIS .footer_mobile-grid .slds-size_4-of-12 {
        width: 15%;
    } 
    .THIS .footer_mobile-grid .slds-size_8-of-12 {
        width: 80%;
    }
    .THIS .footer_mobile-grid .datetime_class .slds-grid .slds-size_6-of-12 {
        width: 100%;
    } 
}
@media (max-width: 992px) {
    .THIS .footer_mobile-grid {
        display: flex;
    }
    .THIS .slds-modal__footer .slds-button+.slds-button {
        margin-left: 0;
        margin-top: 10px;
    }
    .THIS .footer_mobile-grid .datetime_class .slds-grid {
        display: block;
    }
    .THIS .footer_mobile-grid .slds-size_4-of-12 {
        width: 20%;
    } 
    .THIS .footer_mobile-grid .slds-size_8-of-12 {
        width: 80%;
    }
    .THIS .footer_mobile-grid .datetime_class .slds-grid .slds-size_6-of-12 {
        width: 100%;
    } 
    
}
@media (max-width: 767px) {
    .THIS .footer_mobile-grid {
        display: flex;
    }
    .THIS .slds-modal__footer .slds-button+.slds-button {
        margin-left: 0;
        margin-top: 10px;
    }
    .THIS .footer_mobile-grid .datetime_class .slds-grid {
        display: block;
    }
    .THIS .footer_mobile-grid .slds-size_4-of-12 {
        width: 20%;
    } 
    .THIS .footer_mobile-grid .slds-size_8-of-12 {
        width: 80%;
    }
    .THIS .footer_mobile-grid .datetime_class .slds-grid .slds-size_6-of-12 {
        width: 100%;
    } 
    .THIS .pfp {
        display: block;
    } 
    .THIS .pfp .slds-size_6-of-12 {
        width: 100%;
    }
    
}
@media (max-width: 576px) {
    .THIS .footer_mobile-grid {
        display: flex;
    }
    .THIS .slds-modal__footer .slds-button+.slds-button {
        margin-left: 0;
        margin-top: 10px;
    }
    .THIS .footer_mobile-grid .datetime_class .slds-grid {
        display: block;
    }
    .THIS .footer_mobile-grid .slds-size_4-of-12 {
        width: 20%;
    } 
    .THIS .footer_mobile-grid .slds-size_8-of-12 {
        width: 80%;
    }
    .THIS .footer_mobile-grid .datetime_class .slds-grid .slds-size_6-of-12 {
        width: 100%;
    } 
    
}