.THIS .changeOn73 {
    font-weight: 200;
}
.THIS .changeOn72 {
    color: #493266
}
.THIS .changeOn71{
    font-size: 19px;font-weight: 400;margin-top: 10px;
}
.THIS .changeOn53 {
    margin-top:-8px
}
.THIS .changeOn54 {
    color: #493266; font-size: 18px;font-weight: 400;
}
.THIS .changeOn55 {
    font-size: 15px;    font-weight: 500;
}
.THIS .changeOn43 {
    margin-top: -30px; float: right
}
.THIS .changeOn29 {
    font-size: 18px;    font-weight: 700;
}
.THIS .changeOn12 {
    background-color: #493266;    color: white;
}
.THIS .changeOn37 {
    font-size: 18px;font-weight: 400;margin-top: -6px;
}