
.THIS .slds-modal__container.hideDiv {
    max-width: 85% !important;
    width: 80%!important;;
}
.THIS .headerCSS{
    background-color: #493266;
}
.THIS .headerCSS .slds-text-heading_medium.slds-hyphenate {
    color: #fff;
}
.THIS .form_config .slds-accordion__summary {
    margin-bottom: 0;
    background-color: #666;
   /*  width: calc(100% - 110px); /*  width: calc(100% - 108px);*/
    border-radius: 10px 0px 0 0;
    margin-left: 0;
    padding: 5px;
    width: 100%;
}
.THIS .form_config .slds-accordion__summary .slds-button {
    color:#fff;
}
.THIS .btn {
   border-radius: 5px;
   color: white;
   background-color: #493266;
 padding: 0px 10px 0px 10px; 
}
.THIS .btn:disabled {
     border-radius: 5px;
   color: white;
   background-color: #c9c7c5;
  padding: 0px 10px 0px 10px; 
}
.THIS .instruction_head {
    background-color: #493266;
    color: white;
    padding-left: 10px;
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 8px;
   
}